*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Barlow Semi Condensed', sans-serif;
  background:#edf2f8;
  display:flex;
  justify-content:center;
  padding:40px 20px;
}

.container{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  grid-auto-rows:minmax(200px, auto);
  gap:20px;
  max-width:1100px;
}


.card{
  padding:30px;
  border-radius:10px;
  box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

.card h3{
  font-size:14px;
  margin-bottom:10px;
  opacity:0.8;
}

.card h2{
  font-size:18px;
  margin-bottom:15px;
}

.card p{
  font-size:14px;
  line-height:1.6;
  opacity:0.8;
}


.purple{
  background:#7541c8;
  color:white;
  grid-column:1/3;
}

.gray{
  background:#48556a;
  color:white;
}

.white{
  background:white;
  color:#333;
}

.dark{
  background:#19212e;
  color:white;
}


.wide{
  grid-column:2/4;
}

.tall{
  grid-row:1/3;
  grid-column:4/5;
}


@media(max-width:1000px){
  .container{
    grid-template-columns:repeat(2,1fr);
  }

  .tall{
    grid-row:auto;
    grid-column:auto;
  }

  .wide{
    grid-column:1/3;
  }
}

@media(max-width:600px){
  .container{
    grid-template-columns:1fr;
  }

  .wide{
    grid-column:auto;
  }
}
