*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
button {
    border: none;
    cursor: pointer;
}

/*Header*/
.header{
width: 100%;
  background-color: #e2dfdf;
  font-family: 'poppins';
  margin-bottom: 50px;
  padding: 80px 100px;
}
.header h1 {
    font-weight: lighter;
    font-size: 5rem;
    margin-bottom: 10px;
}
.header p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: large;
}

.header button{
    background-color: rgb(50, 124, 235);
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: #fff;
    font-size: medium;
}
/*Main*/
main{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 0px 100px;
}
main h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
main p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}
main button{
    background-color: rgb(81, 83, 87);
    width: 100px;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
}
main section{
    width: 30%;
}
/*Footer*/
footer p{
    text-align: center;

}