body {
    margin: 0;
    font-family: Georgia, serif;
}

.container {
    display: flex;
    width: 90%;
    margin: 20px auto;
}

.left, .right {
    width: 50%;
    padding: 15px;
}

img {
    max-width: 100%;
    margin-bottom: 15px;
}
