*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    height: fit-content;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color:#e10600;
}


.header{
    background:#fff;
    padding:20px 80px;
}

.header h2{
    color:#e10600;
    font-weight:500;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:100px 80px;
    color:#fff;
}

.hero-left{
    width:55%;
}

.hero-left h1{
    font-size:70px;
    font-weight:300;
    margin-bottom:20px;
}

.hero-left p{
    font-size:20px;
    line-height:1.6;
    width:80%;
}

.hero-right img{
    width:300px;
}


.card{
    display: flex;
    gap: 30px;
    padding: 90px;
    background: none; 
    color: #fff;  
}




.card section{
    flex: 1;
    background: #7a0d0d;
    padding: 90px 90px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    color: #fff;
}



.card h3{
    margin-bottom:10px;
    font-size:30px;
}

.card p{
    font-size:20px;
}
