*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 1000px;
    background-color: rgb(165, 164, 164);
}

.sidebar{
    background-color: #f336a1;
    display: flex;
    width: 200px;
    height: 100%;
    position: fixed;
    flex: 0 0 200px;
    padding: 0px 200px;
    
}


main{
padding:  0px 700px;
align-items: center;
text-align: center;
}
.card{
    /*flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 300px;*/
    flex: 0 0 250px;
    background-color: #f2900f;
    width: 300px;
    padding:  75px 75px;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 1px 1px 10px rgb(78, 78, 78);
    border-radius: 10px;
    border: 5px solid black;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
main h1{
    text-align: center;
    margin-bottom: 10px;

}
.row{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    
}
@media screen and (max-width:700px){
  .row{
    flex-wrap: wrap;
    flex: 0 0 45%
  }
}
