*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f2f2f2;
}

.parent{
    width:95%;
    max-width:1200px;
    margin:40px auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px 350px 350px;
    gap:0;   
    border:3px solid #111;
}              




.child1 img,
.child3 img,
.child4 img,
.child5 img,
.child6 img,
.child7 img{
    width: 100%;
    max-width: 250px;
    object-fit: contain;
}


.parent > div{
    padding:40px;
}

.child1,
.child3,
.child5,
.child6,
.child7{
    padding:0;
}


.child1{
    grid-column:1/3;
    background:#f5f5f5;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:40px;
}

.child1 img{
    height:100%;
    object-fit:contain;
}


.child2{
    grid-column:3/5;
    background:#f8f8f8;
    text-align:center;
    align-items:center;
}

.child3{
    background:#f0532d;
    color:#fff;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.child3 img{
    width:180px;
    margin-bottom:20px;
}

.child4{
    grid-column:2/4;
    background:#f5f5f5;
    display:flex;
    gap:30px;
    align-items:center;
}


.child5{
    grid-column:4/5;
    grid-row:2/4;
    background:#8e6bd6;
    color:#fff;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.child5 img{
    width:150px;
    margin-bottom:20px;
}



.child6{
    background:#f5f5f5;
    text-align:center;
    align-items:center;
}

.child7{
    grid-column:2/4;
    background:#7aa3a1;
    color:#fff;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.child7 img{
    width:500px;
    margin-top:20px;
}



h1{
    font-size:40px;
    font-weight:500;
}

h2{
    font-size:28px;
    font-weight:600;
}

h3{
    font-size:20px;
}

small{
    font-size:12px;
    letter-spacing:2px;
    color:#888;
}

a{
    font-size:14px;
    color:#2db4c8;
}


small{
    color:gray;
    letter-spacing:1px;
}



button{
    margin-top:15px;
    padding:10px 20px;
    border:none;
    background:#ffcc33;
    cursor:pointer;
}

img{
    max-width:100%;
    height:auto;
}
.ellipse{ 
    background:#ff5a36; 
    padding:5px 10px; 
    color:#fff; 
    font-size:12px; 
    border-radius:20px; 
    align-self:center; 
}


@media(max-width:768px){
    .parent{
        grid-template-columns:1fr;
        grid-auto-rows:auto;
    }

    .parent div{
        grid-column:auto ;
        grid-row:auto ;
    }
}
